html, body{
    height: 100%;
    overflow: hidden;
}

.login-background-img {
    width: 100%;
    height: 100vh;
    background-image: url('/images/bg-images/1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.register-background-img {
    width: 100%;
    height: 100vh;
    background-image: url("/images/bg-images/2.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.margin-right-login {
    /*transform: translate(70%, 57%);*/
    position: sticky !important;
    top: 280px;
    left: 300px;
}

.margin-left-login {
    margin-top: 300px;
}

input.form-control.font-weight-bold.input-button-border{
    background: transparent;
    border-bottom: 5px solid black;
    border-top:none;
    border-right: none;
    border-left: none;
}
input.form-control.font-weight-bold.input-button-border:focus {
    box-shadow: none;
}

#biography:focus{
    box-shadow: none;
}
#password:focus{
    box-shadow: none;
}

input.form-control.font-weight-bold.input-button-border-none{
    border: none;
    background: transparent;
}

button.btn.color-darkgreen-background.text-light{
    width: 250px;
    height: 50px;
    border-radius: 10px;
}

button.btn.color-orange-background.text-light.mt-3{
    width: 200px;
}

.color-orange {
    color: #dd7f1e;
}
.color-orange-background {
    background-color: #dd7f1e !important;
    float: right;

}
.color-darkgreen {
    color: #48695c;
}
.color-darkgreen-background {
    background-color: #48695c !important;
    width: 250px;
    height: 50px;
    border-radius: 10px;
}
.color-pink {
    color: #ff5757;
}

.color-gray {
    color: #949d99;
}

/*hr {*/
/*    border-top: 3px solid #dd7f1e;*/
/*    margin-top: 30px;*/
/*}*/

.background-img-steps {
    background-image: url("/images/bg-images/3.jpg");
    background-position: center;
    background-size: cover;
}


div.academy-item {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

div.academy-item.active{
    background-color: #48695c;
    color: white;
}

.box {
    border-radius: 10px;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: initial;
}

.skill-card{
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.skill-card.active{
    background-color: #48695c;
    color: white;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.upload-img {
    width: 300px;
    border-radius: 50%;
    border: 16px solid rgb(255 255 255);
    cursor: pointer;
}



/* LIST-PROJECTS */
.float-right {
    margin-top: -80px;
}
.float-right:focus {
    outline: none;
}

.my_projects_icon {
    width: 27px;
    height: 27px;
}

.home-page-card {
    border-radius: 15px !important;
    border: none !important;
}

.profile-pic {
    position: absolute;
    top: -60px;
    left: 75px;
    width: 100px;
    border: 10px solid white;
    border-radius: 55px;
}

.padding {
    padding-top: 50px;
    padding-left: 75px;
}

.padding-left {
    padding-left: 75px;
}

.text-orange {
    color: #dd7f1e;
}

.applicant-circle {
    height: 60px;
    width: 60px;
    background-color: #48695c;
    border-radius: 50%;
    text-align: center;
    font-size: xx-small;
    position: absolute;
    top: -14%;
    left: 97%;
}

#textButton {
    text-decoration: underline;
    background: transparent;
    border: none;
    float: right;
    font-size: smaller;
}

#textButton:focus {
    outline: none;
}

#moreText {
    font-size: smaller;
    outline: none;
    /* display: none; */
}
#moreText:focus {
    outline: none;
}

.text.show-more {
    display: inline;
    text-decoration: underline;
    background: transparent;
    border: none;
    float: right;
}

img.icon-edit-design {
    width: 34px;
    height: 30px;
    cursor: pointer;
}


.badge {
    width: 50px;
    height: 50px;
    /*position: relative;*/
    /*top: 110px;*/
    /*left: 635px;*/
    bottom: -30px;
    right: 30px;
    position: absolute;
}

.icons-position-end {
    position: absolute;
    right: -180px;
}

.row-main{
    padding: 0 100px 0 100px;
}

.button-outline-none:focus{
    outline: none;
}


/* CREATE/EDIT PROJECT PAGE*/

input.form-control{
    background: transparent;
    border-bottom: 5px solid black;
    border-top:none;
    border-right: none;
    border-left: none;
}

.academy-card {
    margin: 30px;
    display: flex;
    flex-direction: row;
    width: 140px;
    height: 110px;
    border-radius: 15px;
    padding: 5px;
}

.academy-card > div {
    flex: 1 1 auto;
    text-align: center;
    margin: 5px;
    width: 100%;
    height: 100%;
    background-color: white;
}

.academy-card.active {
    background-color: #48695c;
    color: white;

}

.academy-card.active > div {
    background-color: transparent;
}


.options-text-orange {
    font-size: small;
    color: #dd7f1e;
}

.controls {
    position: absolute;
    top: 25%;
    right: -30px;
    width: 40px;
    display: none;
    flex-direction: column;
    align-items: end;
    height: 90px;
    justify-content: center;
}

.edit-delete-controls{
    cursor: pointer;
}

.controls:hover{
    display: flex;
}
.edit-delete-controls {
    width: 30px;
    height: 30px;
}

/*APPLICANTS PAGE*/

.team-assembledBtn{
    width: 180px;
    height: 35px;
    background-color: #dd7f1e;
    color: white;
    border-style: none;
    border-radius: 6px;
}

.team-assembledBtn:focus{
    outline:none;
}

.margin-top-applicants {
    margin-top: 80px;
}

.applicants-card {
    width: 350px;
    min-height: 300px;
    border-radius: 25px !important;
    border-style: none !important;
}

.applicants-card.accepted {
    background-color: rgba(58,62, 60, 0.2);
}

.img-applicants {
    border-radius: 50%;
    border: 15px solid white;
    width: 160px;
    height: 160px;
    margin-top: -100px;
    margin-bottom: 12px;
    cursor: pointer;
}

.position-absolute {
    position: absolute;
    bottom: 0;
    left: 155px;
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
    cursor: pointer;
}

.img-profile {
    border-radius: 50%;
    border: 10px solid white;
    width: 250px;
    height: 250px;
}

.padding-left-userProjects {
    padding: 50px;
}

button.btn-green {
    background-color: #48695c;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin-top: 330px;
}

p.text-underline {
    text-decoration: underline;
    margin-left: 600px;
}

.skills-user-projects {
    width: 110px;
    height: 110px;
    margin-right: 20px;
    background-color: white;
    color: black;
    border-style: none;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    /*padding-top: 33px;*/
}

.skills-user-projects div{
    margin: auto;
}



/* My Applications */

.appAccepted-backgGreen {
    font-size: smaller;
    color: #48695c;
}

.appDenied-backgRed {
    font-size: smaller;
    color: red;
}

.appDenied-backgGrey {
    font-size: smaller;
    color: grey;
}

.image-myApplication-status {
    width: 32px;
}

.image-myApplication-cancel {
    width: 17px;
}

.font-size-cancel {
    font-size: 13px;
}

.cursorPointer-myApplications {
    cursor: pointer;
}

.application-respond{
    position: absolute;
    bottom: 10px;
}

.application-respond{
    position: absolute;
    bottom: 10px;
}



/* MY PROFILE */
a.nav-item.nav-link {
    margin-top: 40px;
}
a.nav-item.nav-link.active {
    color: #949d99 !important;
}

.home-page-image {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 5px solid rgb(255 255 255);
    -o-object-fit: cover;
       object-fit: cover;
    /*margin-top: 15px;*/
}
.home-page-image:focus {
    outline: none !important;
    box-shadow: none !important;
}

.outline-none:focus {
    outline: none !important;
    border-bottom: 5px solid black !important;
    box-shadow: none !important;
    background-color: transparent !important;
}
.home-page-image:focus-visible {
    outline: none !important;
}

.outline-profile-img {
    outline: none !important;
    box-shadow: none !important;
}


.img-myProfile {
    border-radius: 50%;
    border: 12px solid white;
    width: 170px;
    height: 170px;
    -o-object-fit: cover;
       object-fit: cover;
}

textarea {
    border: none !important;
    overflow: auto;
    outline: none !important;
    background-color: transparent !important;
    resize: none !important;
}

textarea:focus {
    box-shadow: none !important;

}

textarea::-webkit-scrollbar {
    display: none;
}

.square {
    max-height: 240px;
    overflow-y: scroll;
    /*box-shadow: rgb(50 50 93 / 2%) 0px 30px 55px -58px inset, rgb(0 0 0 / 22%) 0px 18px 36px -15px inset;*/
}


.skill-card-myProfile{
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    height: 100px;
    max-width: 13% !important;
}


.skill-card-myProfile.active {
    background-color: #48695c;
    color: white;
}


.font-xx-small {
    font-size: xx-small;
    font-weight: bold;
}


.input-withoutBorder {
    background: transparent;
    border-bottom: 5px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #949d99;
}

.wrapper-scroll {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    height: 100%;
    overflow: initial;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}


/* Track */
::-webkit-scrollbar-track {
    border-radius: 3px;
    border: 1px solid rgb(221 127 30);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dd7f1e;
    border-radius: 3px;
    height: 50%;
}


.my-project-cards::-webkit-scrollbar {
    display:none;
}


.cards::-webkit-scrollbar {
    display: none;
}



/*HOME PAGE*/

.dashboard{
    height: calc(100% - 90px);
}

.card-explanation{
    height: 90px;
}

.cards{
    height: 100%;
    /*height: calc(100% - 140px);*/
    overflow-y: scroll;
    overflow-x: hidden;
}


.my-project-cards{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cards-card{
    margin-top: 80px;
}

.cards-card.big{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.cards-card.first{
    margin-top: 50px;
}

.cards-card--content{
    background-color: white;
    border: 1px solid rgb(255 255 255);
    border-radius: 20px;
}


.cards-card:hover .controls{
    display: flex;
}


.btnDesign{
    width: 140px;
    height: 60px;
    background-color: white;
    border-style: none;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    font-size: smaller;
}

.btnDesign:focus {
    outline: none;
}

.btnDesign:hover,
.btnDesign.active{
    background-color: #48695c;
    color: white;
}

.arrow-img {
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-right: 9px;
}

.overflow-y-auto::-webkit-scrollbar {
    display: none;
}

.projectCard{
    border-radius: 20px;
    border-style: none;
    background-color: white;
    width: 83%;
}


.imgProjectCard-wrapper {
    position:relative;
    top: -50px;
    cursor: pointer;
}


.imgProjectCard-wrapper img{
    margin: auto;
    width: 100px;
    height: 100px;
    border: 10px solid rgb(255 255 255);
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}

.fontSizeSmall{
    font-size: xx-small;
}

.pagination li{
    cursor: pointer;
}

.pagination li.disabled{
    cursor: initial;
}

div.half-circle {
    height: 30px;
    width: 50px;
    border-radius: 150px 150px 0 0;
    background-color: #48695c;
    text-align: center;
}

.fontSize{
    font-size: 9px;
    color: white;
    font-family: sans-serif !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 7px 0 0 5px;
}

.projectCard-applicant-circle {
    height: 60px;
    width: 60px;
    background-color: rgb(72 105 92);
    border-radius: 50%;
    text-align: center;
    font-size: xx-small;
    position: absolute;
    right: 20px;
    top: -30px;
    cursor: pointer;
}


.projectCard-applicant-circle:focus {
    outline:none;
}

.projectCard-btn {
    width: 200px;
    height: 30px;
    font-size: xx-small !important;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

p.card-text {
    word-wrap: break-word;
}






